<style>
    .profile-Details {
        color: white;
        text-decoration: none;
    }

    .profile-Details:hover {
        color: white;
        text-decoration: none;
    }
</style>
<div style="background-color:#6B6B6B">
    <center>
        <div style="color:#FF9800">
            <h1 style="font-size:80px">@Model.EndUser.UserName</h1>
        </div>
        <div style="color:white; font-size:20px">
            <a class="profile-Details" target="_self" asp-action="GetFollowing" asp-controller="enduser" asp-route-endUserId="@Model.EndUser.Id">
                <p style="display:inline-block; margin-right:20px">
                    @Model.FollowingCount <br />
                    Following
                </p>
            </a>

            <a class="profile-Details" target="_self" asp-action="GetFollowers" asp-controller="enduser" asp-route-endUserId="@Model.EndUser.Id">
                <p style="display:inline-block;margin-right:20px">
                    @Model.FollowersCount <br />
                    Followers
                </p>
            </a>
            <p style="display:inline-block">
                @Model.AnswersCount <br />
                Answers
            </p>
        </div>
    </center>
</div>