@model EndUserDetails
@{
    ViewData["Title"] = Model.EndUser.UserName;
    var answers = ViewBag.myAnswers as List<Answer>;
    string buttonType = "btn-primary";
    if (ViewData["isFollowing"].ToString() == "Unfollow")
    {
        buttonType = "btn-danger";
    }
    var pages = ViewBag.pages as List<int>;
}

<style>
    /* Optional: Add some styling to make it visually appealing */
    .ask-question {
        background-color: #6B6B6B;
        color: white;
        width: 100%;
        height: 150px;
        padding: 10px;
        box-sizing: border-box;
        resize: none; /* Disable textarea resizing */
    }

        .ask-question::placeholder {
            color: #DCDCDC;
        }

    .char-counter {
        position:absolute;
        left:10px;
        color: white; /* Adjust the color as needed */
        font-size: 14px; /* Adjust the font size as needed */
    }

    .ask-form {
        position: relative;
    }


</style>

<partial name="Shared/_profileDetails" model="Model" />

<div style="display: flex; width: 100%;">
    <a asp-action="managefollow" asp-route-isFollowing="@ViewData["isFollowing"]" asp-route-endUserId="@Model.EndUser.Id" class="btn @buttonType" style="width: 100%;">
        @ViewData["isFollowing"]
    </a>
</div>

<br />
<partial name="Shared/_AskQuestionForm" model="new Answer{SenderId=Model.EndUser.Id}"/>

<div style="background-color:#6B6B6B">
    @if (ViewBag.questionSent != null)
    {
        <partial name="Shared/_QuestionSendingStatus" />
    }
</div>

<br />
<partial name="Shared/_searchBoxAnswer" model="Model.EndUser.Id" />

<partial name="Shared/_profileAnswers" model="answers" />

<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        @foreach (var item in pages)
        {
            if ((int)ViewBag.pageNumber == item)
            {
                <li class="page-item active">
                    <a asp-action="toanotherprofile" asp-route-endUserId="@Model.EndUser.Id" asp-route-page="@item" class="page-link">@item</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-action="toanotherprofile" asp-route-endUserId="@Model.EndUser.Id" asp-route-page="@item" class="page-link">@item</a>
                </li>
            }
        }

    </ul>
</nav>





<script>
    // Add JavaScript to update character count
    const textArea = document.getElementById('largeTextArea');
    const charCounter = document.querySelector('.char-counter');

    textArea.addEventListener('input', function () {
        charCounter.textContent = `${textArea.value.length}/4000`;
    });
</script>